.intecator-div{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid white;
    position: absolute;
    left: 90%;
    top: -10%;
    transform: rotate(180deg);
   
}

.popup-country-flag-box{
    position: absolute;
    top: 197vh;
    left: 52.2%;
 width: 520px;
 height: 214px;
 background-color: white;
box-shadow: 1px 1px 4px rgb(100, 98, 98);
padding: 6px;
z-index: 4;
display: none;

}
.box-inner-popup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    height: 200px;

}

.country-type{

    height: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    padding: 0px 3px;
    
}
.img-flag-box{
    height: 30px;
    width: 50px;
 
    
}

.flag-country-name{
    height: 30px;
    width: 110px;
    
    display: flex;
    align-items: center;
    
}
.country-name-p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-left: 10px;
    color: rgb(112, 108, 108);
    text-decoration: none;
    font-size: 15px ;
}
.flag-type{
    height: 30px;
    width: 50px;
    border: 1px solid rgb(196, 185, 185);
}
.country-type-link{
    text-decoration: none;
}
.country-type:hover{
    background-color: rgba(160, 155, 155, 0.226);
}